@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.25rem; /* Adjust the width to hide vertical scrollbar */
  height: 0.25rem; /* Adjust the height to hide horizontal scrollbar */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.project-card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

.project-card:hover {
  background-color: #e0e0e0;
}

.view-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.view-button:hover {
  background-color: #0056b3;
}
