@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.25rem; /* Adjust the width to hide vertical scrollbar */
  height: 0.25rem; /* Adjust the height to hide horizontal scrollbar */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.project-card {
  width: 500px;
  padding: 40px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

.project-card-hover {
  scale: 120%;
}

.view-button {
  display: inline-block;
  padding: 15px 60px;
  margin-top: 10px;
  background-color: #736D6DE2;
  color: #e0e0e0;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.view-button:hover {
  background-color: #E58989;
}
